<%- include('../partials/header'); %>
<h2>New Ticket for <%= flight.airline %> Flight <%= flight.flightNo %></h2><br>
<form action="/flights/<%= flight._id %>/tickets" method="POST">
    <label>Seat Number:</label>
    <input type="text" name="seat" pattern="[A-F][1-9]\d?" required>
    <label>Price:</label>
    <input type="number" name="price" required><br>
    <input type="submit">
</form>
<%- include('../partials/footer'); %>
