<%- include('../partials/header'); %>
<h1>Flights</h1>
<table>
  <th>
    <tr>
      <th class="center">Airline</td>
      <th class="flight-no">Flight Number</td>
      <th>Departure Date/Time</td>
      <th class="center">More Info</td>
    </tr>
  </th>
  <% flights.forEach(function(flight){ %>
  <tr>
    <td class="center">
      <%= flight.airline %>
    </td>
    <td class="flight-no">
      <%= flight.flightNo %>
    </td>
    <td>
      <%= flight.departs.toDateString() + ' ' + flight.departs.toLocaleTimeString(); %>
    </td>
    <td class="center">
      <a href="/flights/<%= flight._id %>" class="btn btn-primary">Details</a>
    </td>
  </tr>
  <% }); %>
</table>
<br>
<%- include('../partials/footer'); %>