<%- include('../partials/header'); %>
<h3><%= flight.airline %> Flight <%= flight.flightNo %></h3><br><br>
<h4>Departure:</h4><br>
<h6>Airport: <%= flight.airport %></h6>
<h6>Departure Date/Time: <%= flight.departs.toDateString() + ' ' + flight.departs.toLocaleTimeString() %></h6>


<% if (flight.destinations[0]) { %>
<% flight.destinations.sort(function(a, b){ %>
<% return a.arrival - b.arrival; %>
<% }); %>

<br>
<h4>Destinations:</h4><br>
<% flight.destinations.forEach(function(destination){ %>
  <h6>Airport: <%= destination.airport %></h6>
  <h6>Arrival Date/Time: <%= destination.arrival.toDateString() + ' ' + destination.arrival.toLocaleTimeString() %></h6><br>
<% }); %>
<% } %>

<% if(flight.destinations.length < 3) { %>
<br>

<% let AUS = true %>
<% let DAL = true %>
<% let LAX = true %>
<% let SEA = true %>
<% flight.destinations.forEach(function(d) { %>
<%  if (d.airport === 'AUS') AUS = false; %>
<%  if (d.airport === 'DAL') DAL = false; %>
<%  if (d.airport === 'LAX') LAX = false; %>
<%  if (d.airport === 'SEA') SEA = false; %>
<% }); %>

<h4>Add A Destination</h4>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
  <label>Destination Time:
    <input type="datetime-local" name="arrival" required>
  </label>
  <br>
  <label>Destination Airport:
    <select name="airport">
      <% if (flight.airport !== 'AUS' && AUS === true) { %>
      <option value="AUS">AUS</option>
      <% } %>
      <% if (flight.airport !== 'DAL' && DAL === true) { %>
      <option value="DAL">DAL</option>
      <% } %>
      <% if (flight.airport !== 'LAX' && LAX === true) { %>
      <option value="LAX">LAX</option>
      <% } %>
      <% if (flight.airport !== 'SEA' && SEA === true) { %>
      <option value="SEA">SEA</option>
      <% } %>
    </select>
  </label>
  <input type="submit" value="Submit">
</form>
<% } %>

<% if (tickets.length) { %>
  <h4>Tickets:</h4>
  <table class="tickets-table">
    <tr>
      <th>
        Seat
      </th>
      <th>
        Price
      </th>
      <th></th>
    </tr>
    <% tickets.forEach(function(ticket){ %>
      <tr>
        <td>
          <%= ticket.seat %>
        </td>
        <td>
          $<%= ticket.price %>
        </td>


        <!-- use method override here -->
        <td>
          <form action="/tickets/<%= ticket._id %>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete">
          </form>
        </td>


      </tr>
      <%}) %>
    </table>
    <% } %>
    <br>
<a href="/flights/<%= flight._id %>/tickets/new" class="btn btn-primary">New Ticket</a>
<%- include('../partials/footer'); %>